body{
    padding: 30px;
}
.submit-area{
    padding: 40px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    display: none;
}

.deposit-view{
    background-color: slateblue;
}

.withdraw-view{
    background-color: lightsalmon;
}

.balance-view{
    background-color: orange;
}

.transaction-view{
    color: white;
    margin: 5px 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.transaction-control{
    margin: 50px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}